#app {
  display: block;
}

#video-module {
  display: block;
  margin-left: 14%;
  margin-top: 2%;
}

#main {
  display: inline-block;
  position: absolute;
  top: 80px; right: 150px;
}

#george-categories-component {
  display: block;
  margin-top: 5%;
}

